@import 'bases/_reset.scss';
@import 'bases/_normalize.scss';
@import 'bases/_mixxins.scss';
@import 'bases/_variables.scss';


@import 'components/_header.scss';
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
