$color-black: #000;
$color-white: #fff;
$color-gray: #ccc;
$color-gray-dark: #999;
$color-gray-light: #eee;
$color-gray-lighter: #f5f5f5;


$color-primary: #36c4ae;
$color-primary-dark: #0e9182;
$color-success: #a2d9a2;
$color-info: #84d3bd;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-danger-dark: #c9302c;

$color-blue-light : rgba($color-info, 0.3);
$color-blue-x-light : #dbfff1;


$color-pink: #ff5fb7;
$color-pink-light: #ff8fd7;
$color-pink-dark: #ff2f97;


@font-face {
  font-family: 'nexa-regular';
  src: url('../../fonts/Nexa-Font/NexaRegular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$font-title: 'nexa-slab-bold', sans-serif;
$font-text: 'nexa-regular', sans-serif;
$border-radius: 0.6em;
